<html>
<body>
    <b>Bonjour voici le formulaire pour ajouter des photos de vacances</b>
    <form action="/formulaire" method="POST" enctype="multipart/form-data">
        <p>Titre: <input type="text" name="titre" required/></p>
        <p>Description: </p>
        <textarea name="description" required></textarea>
        <p>Photo: </p>
        <input type="file" name="photo"/>
        <button type="submit">Poster</button>
    </form>
    <p>{{titre}}</p>
    <p>{{description}}</p>
</body>
</html>